<div class="jumbotron">
    <h1 class="display-3 justify-content-center">Prepare for Spelling Quiz</h1>
    <hr class="my-4">
    <p>This is a page to help your kids prepare for spelling Quiz. Just add the words you need to practice and click
        play to say the word.
    </p>

    <button id="anadirpalabra" type="button" class="btn btn-info">Add Word</button>

</div>

<div class="container">
    <div id="palabras" class="row>">

    </div>
</div>


<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="https://rawcdn.githack.com/jefrydco/text2speech-js/master/dist/index.umd.min.js"></script>
<script src="/js/dictado.js"></script>
